@using System.Globalization
@model Tourest.ViewModels.Account.UserViewModel
@{
    ViewData["Title"] = "Profile";
}

<div class="card mb-6">
    <!-- Account -->

    <div class="card-body pt-4">
        <form id="formAccountSettings" enctype="multipart/form-data" asp-controller="Profile" asp-action="Edit" method="POST">
            <div class="card-body">
                <div class="d-flex align-items-start align-items-sm-center gap-6 pb-4 border-bottom">
                    <img src="../assets/img/avatars/1.png"
                         alt="user-avatar"
                         class="d-block w-px-100 h-px-100 rounded"
                         id="uploadedAvatar" />
                    <div class="button-wrapper">
                        <label for="upload" class="btn btn-primary me-3 mb-4" tabindex="0">
                            <span class="d-none d-sm-block">Upload new photo</span>
                            <i class="icon-base bx bx-upload d-block d-sm-none"></i>
                            <input type="file"
                                   id="upload"
                                   name="profileImage"
                                   class="account-file-input"
                                   asp-for="@Model.ProfilePictureUrl"
                                   hidden
                                   accept="image/png, image/jpeg" />
                        </label>
                        <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                            <i class="icon-base bx bx-reset d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Reset</span>
                        </button>

                        <div>Allowed JPG, GIF or PNG. Max size of 800K</div>
                    </div>
                </div>
            </div>
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-info">@TempData["Message"]</div>
            }

            <div class="row g-6">
                <div class="col-md-6">
                    <label for="firstName" class="form-label">First Name</label>

                    <input type="hidden" asp-for="@Model.UserID" />
                    <input class="form-control"
                           type="text"
                           id="FullName"
                           name="FullName"
                           asp-for="@Model.FullName" />
                </div>
               
                <div class="col-md-6">
                    <label for="email" class="form-label">E-mail</label>
                    <input class="form-control"
                           type="text"
                           id="email"
                           name="email"
                           asp-for="@Model.Email"
                        />
                </div>

                <div class="col-md-6">
                    <label for="email" class="form-label"> Confirm Password</label>
                    <input class="form-control"
                           type="password"
                           id="email"
                           name="ConfirmPassword"
                           placeholder="john.doe@example.com" />
                </div>
                <input class="form-control"
                       type="hidden"
                       id="emailCurrent"
                       name="emailCurrent"
                       value="@Model.Email" />



                <div class="col-md-6">
                    <label class="form-label" for="phoneNumber">Phone Number</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">US (+1)</span>
                        <input type="text"
                               id="phoneNumber"
                               name="phoneNumber"
                               class="form-control"
                               asp-for="@Model.PhoneNumber" />
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="organization" class="form-label">Address</label>
                    <input type="text"
                           class="form-control"
                           id="Address"
                           name="Address"
                           asp-for="@Model.Address" />
                </div>
             <input type="hidden" asp-for="@Model.RegistrationDate" />
                <input type="hidden" asp-for="@Model.IsActive" />
               

            </div>
            <div class="mt-6">
                <button type="submit" class="btn btn-primary me-3">Save changes</button>
                <button type="reset" class="btn btn-outline-secondary">Cancel</button>
            </div>
        </form>
    </div>
    <!-- /Account -->
</div>

@section Scripts {
    <script>

        document.addEventListener('DOMContentLoaded', function (e) {
          (function () {
            const deactivateAcc = document.querySelector('#formAccountDeactivation');

            // Update/reset user image of account page
            let accountUserImage = document.getElementById('uploadedAvatar');
            const fileInput = document.querySelector('.account-file-input'),
              resetFileInput = document.querySelector('.account-image-reset');

            if (accountUserImage) {
              const resetImage = accountUserImage.src;
              fileInput.onchange = () => {
                if (fileInput.files[0]) {
                  accountUserImage.src = window.URL.createObjectURL(fileInput.files[0]);
                }
              };
              resetFileInput.onclick = () => {
                fileInput.value = '';
                accountUserImage.src = resetImage;
              };
            }
          })();
        });

    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}